@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="icon" href="/favicon.ico">
</head>

<body>
    <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>


    <a href="mailto:Brannon.sw@gmail.com">Feel Free to send me an email!</a> <br/>
    <a href="https://github.com/NovaReturn">Check out my GitHub</a> <br/>
    <a href="https://www.flaticon.com/free-icons/space-invaders" title="space invaders icons">Space invaders icons created by Smashicons - Flaticon</a><br/>
</body>
